services:
  nginx:
    image: nginx
    container_name: website-nginx
    ports:
      - "8000:80"

  frontend:
    container_name: website-frontend
    build:
      context: ./frontend
    ports:
      - "8001:5173"
    volumes:
      - ./frontend/app:/app/frontend/app
      - ./frontend/public:/app/frontend/public
    depends_on:
      - backend

  backend:
    container_name: website-backend
    build: 
      context: ./backend
    ports:
      - "8002:8080"
    volumes:
      - ./backend/internal/:/app/backend/internal
      - ./backend/cmd/:/app/backend/cmd

  postgres:
    image: postgres
    container_name: website-postgres
    restart: always
    ports:
      - "8003:5432"
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: example

  mongo:
    image: mongo
    container_name: website-mongo
    restart: always
    ports:
      - "8004:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

