@font-face {
	font-family: "Stretch";
	src: url("fonts/StretchPro.otf")
		format("opentype");
	font-weight: normal;
	font-size: normal;
}


body{
	background-color:#050505;
	font-family: 'Stretch';
	font-size: 35px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}


div{
	display: inline-block;
	border: 1px solid red;
	flex-basis: content;
	margin: 0px;
	margin-left: 5px;
	margin-right: 5px;
}

h1 {
	color: whitesmoke;
	margin: 10px;
	transition: transform 300ms ease;
}

h6{
	font-family: 'Archivo', sans-serif;
	color: gray;
	opacity: 75%;
	font-size: 25px;
}