* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100dvh;
}

body {
    color: white;
    background-color: #0e0e0e;
    font-family: "Rubik";

    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
}

.container {
    grid-column: 2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.container > h1 {
    text-align: center;
    margin: 10px;
}

.container > header > a {
    max-height: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

.container > header > a:hover {
    color: #c0c0c0;
}

.container img {
    width: 75%;
    display: block;
    margin: 8px auto;
    
}

p.image-caption {
    font-style: italic;
    text-align: center;
}

.container p {
    font-size: 20px;
    margin-left: 24px;;
}

.container h2 {
    margin: 12px;
}

.container ul, ol {
    margin: 8px;
}


.container h3 {
    color: ghostwhite ;
    margin: 8px;
}

.container li {
    font-size: 20px;
    margin-left: 36px;
}

img.icons {
    width: 25px;
    margin: 10px;
    filter: invert(1);
}

.container p, li {
    line-height: 30px;
}

header h2 {
    margin: 0 !important;
}
