* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100dvh;
}

body {
    color: white;
    background-color: #0e0e0e;
    font-family: "Rubik";

    display: grid;
    grid-template-rows: 1.05fr 1fr 1.05fr;
    grid-template-columns: 1.05fr 1fr 1.05fr;
}

.container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 10px;
}


.container > h1 {
    margin-bottom: 20px;
}


.links > a > h2 {
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.links > a {
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}

.links > a:hover {
    color: #c0c0c0;
}

.container > p {
    font-size:18px;
    padding: 5px;
    line-height: 24px;
    text-align: justify
}

.container > p > sup {
    line-height: 0;
}

.container > p > a {
    text-decoration: none;
    color: #f289ff;
}

.container > p > a:hover {
    color: #e727ff;
}

.social-links img {
    width: 25px;
    margin: 10px;
    filter: invert(1);
}

.social-links > a {
    text-decoration: none;
}

.social-links > a:hover {
    filter: invert(0.25);
}

.social-links {
    width: fit-content;
    margin: auto;
}

.
