<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/default.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <title>subeen regmi {{pos}}</title>
        <link
          rel="icon"
          href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🐈</text></svg>"
        />
        <script>
            window.MathJax = {
                tex: {
                    inlineMath: [['$', '$'], ['\\(', '\\)']]
                }
            };
        </script>
    </head>
    <body>
        <header class="topbar">
            <a href="/">
                <h1> subeen regmi </h1>
            </a>
        </header>
        <div class="page">
           <!-- This is rendered server side so may look bad. :D -->
            {{ md }}
        </div>
    </body>
</html>
