@font-face {
    font-family: 'SF-Pro-Display-Regular';
    src: url('fonts/SF-Pro-Display-Regular.otf')
}

body {
    color: #FEFEFE;
    background-color: #121212;
    font-family: 'SF-Pro-Display-Regular';
    font-size: 1.375rem;
    width: 50%;
    margin: auto;
    padding: 0;
}

a:visited {
    color: #a882ff 
}

a:active {
    color: #7660dd
}

a {
    color: #a882ff 
}

